.cover__link {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}