.page {
    align-items: center;
    background-color: #2A2C2F;
    min-width: 320px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: #fff;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .page {
        max-width: 767px;
        width: 100vw;
    }
}

@media screen and (max-width: 425px) {
    .page {
        max-width: 425px;
        width: 100vw;
    }
}