.photo-grid {
    display: grid;
    margin: 0 48px;
    box-sizing: border-box;
    margin-top: 92px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        gap: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        gap: 16px;
        margin: 0 24px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        gap: 12px;
        margin: 0 16px;
        margin-top: 64px;
    }
}