.places_position {
    margin-top: 92px;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .places_position {
        margin-top: 88px;
    }
}

@media screen and (max-width: 425px) {
    .places_position {
        margin-top: 64px;
    }
}