.cover__subtitle {
    z-index: 3;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    text-align: center;
    margin: 0;
    margin-top: 32px;
}

@media screen and (max-width: 600px) {
    .cover__subtitle {
        margin: 16px 16px 0;
        font-size: 14px;
        line-height: 16px;
        max-width: 767px;
    }
}
