.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    height: 52px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .header {
        max-width: 767px;
        margin: 0 16px 0;
    }
}

@media screen and (max-width: 425px) {
    .header {
        margin: 0 16px 0;
    }
}