.footer__link {
    text-decoration: none;
    color: #fff;
    height: 100%;
    margin-right: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.footer__link:last-of-type {
    margin: 0;
}

@media screen and (max-width: 425px) {
    .footer__link {
        max-width: 288px;
        width: 100%;
        margin: 0;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}