.lead__title {
    margin: 0 280px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    font-style: normal;
    text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__title {
        margin: 0 152px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
        margin: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 0 16px;
    }
}