.lead__subtitle {
    margin: 32px auto 64px;
    max-width: 640px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    font-style: normal;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .lead__subtitle {
        margin: 32px auto 56px;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .lead__subtitle {
        max-width: 640px;
        font-size: 16px;
        line-height: 20px;
        margin: 16px 64px 40px;
    }
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        margin: 16px auto 40px;
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}