.cover {
    display: flex;
    position: relative;
    margin: 92px 48px;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .cover {
        margin: 92px 0;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .cover {
        margin: 90px 0 88px;
    }
}

@media screen and (min-width:426px) and (max-width: 767px) {
    .cover {
        margin: 66px 0 64px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin: calc(66px - 26px) auto 64px;
        max-width: 425px;
        width: 100vw;
        height: calc(100vw / 1.6);
    }
}