.cover {
    display: flex;
    position: relative;
    margin: 92px auto;
    max-width: 1184px;
    width: 100%;
    height: 740px;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        height: 640px;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin: calc(66px - 26px) auto 64px;
        max-width: 425px;
        max-height: 265px;
    }
}