.cover__background {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        height: calc(100vw/1.6);
        max-width: 1279px;
    }
}
