.lead__caption {
    margin: 0;
    margin-top: 8px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    max-width: 158px;
    align-self: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 425px) {
    .lead__caption {
        margin-left: 16px;
    }
}