.place {
    display: grid;
    row-gap: 48px;
    margin: 0 auto;
    column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(460px, auto));
    grid-template-rows: repeat(auto-fit, minmax(76px, auto));
    max-width: 984px;
    margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        margin-bottom: 80px;
        max-width: 928px;
        column-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(440px, auto));
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        margin-bottom: 73px;
        max-width: 1023px;
        column-gap: 28px;
        grid-template-columns: repeat(auto-fit, minmax(340px, auto));
        grid-template-rows: repeat(auto-fit, minmax(46px, auto));
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .place {
        margin: 0;
        margin-bottom: 50px;
        max-width: 767px;
        column-gap: 32px;
        row-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(420px, auto));
        grid-template-rows: repeat(auto-fit, minmax(35px, auto));
        justify-items: center;
    }
}

@media screen and (max-width: 425px) {
    .place {
        margin: 0;
        margin-bottom: 50px;
        max-width: 425px;
        column-gap: 32px;
        row-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(320px, auto));
        grid-template-rows: repeat(auto-fit, minmax(35px, auto));
        justify-items: center;
    }
}